body {

}

h2 {
    color: grey;
    font-family: Opensans;
    text-align: center;
}
h5 {
    color: grey;
    font-family: Opensans;
    text-align: center;
}

p {
    color: grey;
    font-family: Opensans;
    font-size: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}